@model StripeProject.Models.StripeChargeModel

@{
    ViewBag.Title = "Success Charge";
}

@* Successful Charge Prompt *@

<div>
    <h1>Charge Successful!</h1>
    <p>Charge Id: <span>@Html.Raw(Model.ChargedId)</span></p>
    <input type="button" class="btn btn-primary" value="Back to Stripe Charge Example" id="back"/>
</div>

@section Scripts {
    <script type="text/javascript">

        //return to charge page
        $('#back').on('click', function () {
            window.location.href = 'Charge'
        });
    </script>
}