@{
    ViewBag.Title = "Success Charge";
}
@*@{ Response.Redirect("Charge");}*@
<div>
    <h1>Charge Successful! Redirecting back to Stripe Charge Example page...</h1>
    <img id="loading-image" src="~/ajax-loader.gif" />
</div>

@section Scripts {
    <script type="text/javascript">
        $('document').ready(function() {
            window.setTimeout(function () { window.location.href = 'Home/Charge' }, 4000);
        });
    </script>
}